
@model Shop.Application.ViewModels.ProductViewModel

<table id="product" class="table table-bordered table-hover">
	<thead>
		<tr class="">
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>

		</tr>
	</thead>
	<tbody>
		@foreach(var product in Model.Products)
		{
				<tr style="height:60px;">
					<td>@product.Name</td>
					<td>@product.Price</td>
					<td>@product.Quantity</td>

				</tr>

		}

	</tbody>

</table>